


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/reset.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        <link rel="stylesheet" href="styles/books.css">
        <title>Document</title>
    </head>
    <body>
        <header> <div id='logo'><a href="../"><i class="fas fa-book-open fa-2x"></i></a></div></header>

        <main>
            <h2>Searched for: <%=searchAuthor%></h2>
            <div id=books-container>
                    <%bookItems.forEach((item) => { %>
                        <section>
                        <form action="/addBook" method="POST">
                            <img src="<%=item.image%>" alt="">
                            <div id="titleAuthor">
                                <h6><%=item.title%></h6>
                                <h3>by: <%=item.author%></h3>
                                <div class="pop">
                                        <input type ="button" class='desc' id="descBtn" onclick="myFunc('desc')" value= "description">
                                        <input type="hidden" name='title' value='<%= item.title %>'>
                                        <input type="hidden" name='author' value='<%= item.author %>'>
                                        <input type="hidden" name='isbn' value='<%= item.isbn %>'>
                                        <input type="hidden" name='image_url' value='<%= item.image %>'>
                                        <input type="hidden" name='bookdescription' value='<%= item.description %>'>
                                        <!-- <input type="hidden" name='bookshelf' value='<%= item.bookshelf %>'> -->
    
                                        <input type="submit" name="_method" value="Add" id="addBtn">
                                </form>
                                </div>
                                <!-- <%bookItems.forEach((item) => { %> -->
                                <div class="popup-container" id= "popup" onclick="closePop()">
                                        <div class="popup">
                                            <h6><%=item.title%></h6>
                                            <h3>by: <%=item.author%></h3>
                                            <p><span>Description: </span><%=item.description%></p>
                                            <p>ISBN: <%=item.isbn%></p>
                                        </div>
                                        <!-- <%})%> -->
                                        </div>
                                </div>
                                <script>
                                    console.log('getting here');
                                    var login = document.getElementById("popup")
                                    var myFunc = function(type){
                                        console.log('open');
                                        login.classList.add("isvisable");
                                    }
                                    var closePop = ()=>{
                                    if(event.currentTarget === event.target){
                                        
                                        login.classList.remove("isvisable")
                                    }
                                
                                    }
                                </script>
                                    
                            <!-- <p><%=item.description%></p> -->
                        </section>
                    <%});%>     
            </div>      
        </main>

        <footer>
        </footer>
        
    </body>
</html>